<ion-view view-title="RaulHC">
  <ion-content class="padding">
	  <div style="text-align: justify;">
		<div class="my-player">
		  <i ng-click="media.play()" class="my-player-button ion-ios-play" my-player></i>
		  <i ng-click="media.pause()" class="my-player-button ion-ios-pause hide" my-player></i>
		  <br><small>Ouça Nelson Pretto, no programa<br>Conexões, sobre o RaulHC.</small>
		</div>
		<p>Somos um grupo de pessoas interessadas em usar, remixar e compartilhar tecnologia, aprendizado, diversão e cultura de forma colaborativa e indiscriminada.</p>
		<p>Temos como prioridade estratégica a manutenção de um hackerspace em Salvador/BA para concretizar essas aspirações.</p>
		<p>Quer falar com a gente? Quer participar? Siga o coelho branco!</p>
	</div>
  </ion-content>
</ion-view>
