<ion-view view-title="Tem Gente?">
  <ion-content ng-class="{ 'ninja-bg' : temGente.numPess == 0 }">
      <div ng-if="temGente.numPess == 0">
        <p class="padding">
            No momento a sede está vazia.
            <br/>
            Ou estamos em modo ninja. =P
        </p>      
      </div>
      
      <p ng-if="temGente.numPess > 0">
          Temos {{ temGente.numPess }}
            <font ng-if="temGente.numPess == 1"> Raulzito </font>
            <font ng-if="temGente.numPess > 1">Raulzitos </font>
          na sede.
          <font ng-repeat="index in temGente.numPessArray"> \o/ </font>
          <br>
          Fecharemos em {{ temGente.fechaEm }}.
      </p>
  </ion-content>
</ion-view>