<ion-view view-title="Agenda">
  <ion-content class="padding">
    <ionic-datepicker input-obj="datepickerObject">
        <button class="button button-block button-positive">A partir de {{ datepickerObject.inputDate | date:'dd-MM-yyyy' }}</button>
    </ionic-datepicker>
    <div class="list card" ng-repeat="event in agenda">
        <div class="item item-divider">
            <a href="#" ng-click="goOutside(event.page)">{{ event.title }}</a>
        </div>
        <div class="item item-body">
            <p class="no-margin">
                <b>Responsável:</b> {{ event.responsavel }}
                <br />
                <b>Tipo:</b> {{ event.tipoDeAtividade }} {{ event.tipoDeReuniao }}
                <br />
                <b>Vagas:</b> {{ event.vagas }}
                <br />
                <b>Entrada:</b> {{ event.entrada }}
                <br />
                <b>Custo:</b> {{ event.custo }}
                <br />
                <b>Local:</b> {{ event.local }}
                <br />
                <b>Endereço:</b>
                    <font ng-if="!event.enderecoUrl"> {{ event.endereco }} </font>
                    <a href="#" ng-if="event.enderecoUrl" ng-click="goOutside(event.enderecoUrl)"> {{ event.endereco }} </a>
                <br />
                <b>Inicio:</b> {{ event.dataIni | date:'dd-MM-yyyy' }} {{ event.horaIni }}
                <br />
                <b>Fim:</b> {{ event.dataFim | date:'dd-MM-yyyy' }} {{ event.horaFim }}
            </p>
        </div>
    </div>
  </ion-content>
</ion-view>
